# Compiled binaries
/ease
/bin/
/struct_func
/struct_test
*.exe
*.out

# Test binaries
*.test

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store

/tmp/

editors/vscode/node_modules/
editors/vscode/out/
editors/vscode/package-lock.json
